<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fresh.mappers.CartMapper">

    <resultMap id="BaseResultMap" type="com.fresh.bean.Cart">
        <id column="cid" property="cid"/>
        <result column="count" property="count"/>
    </resultMap>

    <resultMap id="ProductResultMap" type="com.fresh.bean.Cart" extends="BaseResultMap">
        <association property="product"
                     column="pid"
                     javaType="com.fresh.bean.Product" select="com.fresh.mappers.ProductMapper.selectProductByPrimaryKey">
<!--            <id column="pid" property="pid"/>-->
        </association>
    </resultMap>

    <resultMap id="UserResultMap" type="com.fresh.bean.Cart" extends="BaseResultMap">
        <association property="user"
                     column="uid"
                     javaType="com.fresh.bean.User">
            <id column="uid" property="uid"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
    cid, count, pid, uid
  </sql>

    <!-- 根据uid查询出商品 -->
    <select id="selectProductByUid" resultMap="ProductResultMap" parameterType="com.fresh.bean.Cart">
        select
        cid, count, pid
        from cart
        where uid = #{user.uid}
    </select>

    <!-- 根据主键cid删除购物车中的项 -->
    <delete id="deleteByPrimaryKey" parameterType="com.fresh.bean.Cart">
    delete from cart
    where cid = #{cid,jdbcType=INTEGER}
  </delete>

    <!-- 根据用户主键清除购物车中的所有商品 -->
    <delete id="deleteAllProductsByUid" parameterType="com.fresh.bean.Cart">
    delete from cart
    where uid = #{user.uid}
  </delete>


    <!-- 添加购物车 -->
    <insert id="insertCart" parameterType="com.fresh.bean.Cart">
    insert into cart (count, pid,
      uid)
    values (#{count,jdbcType=INTEGER}, #{product.pid},
      #{user.uid})
  </insert>

    <!-- 根据商品主键修改购物车中商品的数量 -->
    <update id="updateCountByPid" parameterType="com.fresh.bean.Cart">
    update cart
    set count = #{count,jdbcType=INTEGER}
    where pid = #{product.pid}
  </update>
</mapper>