<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fresh.mappers.CartMapper">

    <resultMap id="Cart" type="com.fresh.bean.Cart">
        <id column="cid" property="cid"/>
        <result column="count" property="count"/>

        <association property="product"
                     column="pid"
                     javaType="com.fresh.bean.Product">
            <id column="pid" property="com.fresh.bean.Product"/>
            <result column="pname" property="pname"/>
            <result column="price" property="price"/>
            <result column="pinfo" property="pinfo"/>
            <result column="plink" property="plink"/>
            <result column="inventory" property="inventory"/>

            <association property="category"
                         column="cid"
                         javaType="com.fresh.bean.Category">
                <id column="cid" property="cid"/>
                <result column="cname" property="cname"/>
            </association>
        </association>

        <association property="user"
                     column="uid"
                     javaType="com.fresh.bean.User">
            <id column="uid" property="uid"/>
            <result column="account" property="account"/>
            <result column="nickname" property="sex"/>
            <result column="sex" property="sex"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
    cid, count, pid, uid
  </sql>

    <!-- 根据用户主键查询出某用户购物车中的所有商品 -->
    <select id="selectByUid" resultMap="Cart" parameterType="com.fresh.bean.Cart">
        select
        <include refid="Base_Column_List"/>
        from cart
        where uid = #{user.uid}
    </select>

    <!-- 根据主键删除购物车中的项 -->
    <delete id="deleteByPrimaryKey" parameterType="com.fresh.bean.Cart">
    delete from cart
    where cid = #{cid,jdbcType=INTEGER}
  </delete>

    <!-- 根据用户主键清除购物车中的所有商品 -->
    <delete id="deleteAllProductsByUid" parameterType="com.fresh.bean.Cart">
    delete from cart
    where uid = #{user.uid}
  </delete>

    <!-- 添加购物车 -->
    <insert id="insertCart" parameterType="com.fresh.bean.Cart">
    insert into cart (count, pid,
      uid)
    values (#{count,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER},
      #{uid,jdbcType=INTEGER})
  </insert>

    <!-- 根据商品主键修改购物车中商品的数量 -->
    <update id="updateCountByPid" parameterType="com.fresh.bean.Cart">
    update cart
    set count = #{count,jdbcType=INTEGER}
    where pid = #{product.pid}
  </update>
</mapper>