<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fresh.mappers.CategoryMapper">
    <resultMap id="Category" type="com.fresh.bean.Category">
        <id column="cid" property="cid"/>
        <result column="cname" property="cname"/>

        <collection property="product"
                    ofType="com.fresh.bean.Product"
                    javaType="java.util.ArrayList">
            <id column="pid" property="com.fresh.bean.Product"/>
            <result column="pname" property="pname"/>
            <result column="price" property="price"/>
            <result column="pinfo" property="pinfo"/>
            <result column="plink" property="plink"/>
            <result column="inventory" property="inventory"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    cid, cname
  </sql>

    <!-- 根据分类主键查询分类 -->
    <select id="selectByPrimaryKey" resultMap="com.fresh.bean.Category" parameterType="com.fresh.bean.Category">
    select 
    cname
    from category
    where cid = #{category.cid}
  </select>

    <!-- 查询出所有的分类 -->
    <select id="selectAllCategory" resultType="java.util.ArrayList">
    select
    *
    from category
  </select>

    <!-- 根据分类主键查询出所有的商品-->
    <select id="selectProductsByCid" resultMap="Category" parameterType="com.fresh.bean.Product">
        select * from product where cid = #{cid,jdbcType=INTEGER}
  </select>

</mapper>