<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fresh.mappers.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.fresh.bean.Orders">
        <id column="oid" property="oid"/>
        <result column="order_time" property="order_time"/>
        <result column="oprice" property="oprice"/>
    </resultMap>

    <resultMap id="OrderResultMap" type="com.fresh.bean.Orders" extends="BaseResultMap">
<!--        <association property="user"-->
<!--                     column="uid"-->
<!--                     javaType="com.fresh.bean.User"-->
<!--                     select="com.fresh.mappers.UserMapper.SelectUserByPrimaryKey">-->
<!--        </association>-->

        <association property="location"
                     column="lid"
                     javaType="com.fresh.bean.Location"
                     select="com.fresh.mappers.LocationMapper.selectByPrimaryKey">
        </association>

        <collection property="orderItemList"
                    column="oid"
                    ofType="com.fresh.bean.OrderItem"
                    javaType="java.util.ArrayList"
                    select="com.fresh.mappers.OrderItemMapper.selectOrderItemByOid">
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
    oid, order_time, oprice, uid, lid
  </sql>

    <!-- 根据用户主键查询出所有的订单 -->
    <select id="selectOrdersByUid" resultMap="OrderResultMap" parameterType="com.fresh.bean.Orders">
        select
        <include refid="Base_Column_List"/>
        from orders
        where uid = #{user.uid}
    </select>

    <select id="selectMaxOid" resultType="java.lang.Integer" parameterType="com.fresh.bean.Orders">
        select max(oid) oid from orders;
    </select>

    <!-- 根据订单主键删除订单 -->
    <delete id="deleteOrderByOid" parameterType="com.fresh.bean.Orders">
    delete from orders
    where oid = #{oid,jdbcType=INTEGER}
  </delete>

    <!-- 生成订单：向orders表中添加一条记录 -->
    <insert id="insertOrder" parameterType="com.fresh.bean.Orders">
    insert into orders (oid, order_time, oprice,
      uid, lid)
    values (#{oid,jdbcType=INTEGER}, #{order_time,jdbcType=TIMESTAMP}, #{oprice,jdbcType=DECIMAL},
      #{user.uid}, #{location.lid})
  </insert>

</mapper>