<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fresh.mappers.ProductMapper">

    <resultMap id="BaseResultMap" type="com.fresh.bean.Product">
        <id column="pid" property="pid"/>
        <result column="pname" property="pname"/>
        <result column="price" property="price"/>
        <result column="pinfo" property="pinfo"/>
        <result column="plink" property="plink"/>
        <result column="inventory" property="inventory"/>
    </resultMap>

    <resultMap id="ProductMap" type="com.fresh.bean.Product" extends="BaseResultMap">
        <association property="category"
                     column="cid" javaType="com.fresh.bean.Category" select="com.fresh.mappers.CategoryMapper.selectCategoryByCid">
<!--            <id column="cid" property="cid"/>-->

<!--            <result column="cname" property="cname"/>-->
        </association>
    </resultMap>

    <!-- 根据商品名称模糊查询-->
    <select id="selectProductsByPname" resultMap="ProductMap" parameterType="com.fresh.bean.Product">
        select * from product where pname like "%"#{pname}"%"
  </select>

    <!-- 从数据库中随机查询出6条产品记录 -->
    <select id="selectRandomProducts" resultMap="ProductMap">
        select * from product order by rand() limit 6
  </select>

    <!-- 根据主键查询商品：返回商品的详情 -->
    <select id="selectProductByPrimaryKey" resultMap="ProductMap" parameterType="com.fresh.bean.Product">
        select pid, pname, price, pinfo, plink, inventory,cid from product where pid = #{pid,jdbcType=INTEGER}
  </select>

    <!-- 根据分类主键查询出所有的商品-->
    <select id="selectProductsByCid" resultMap="BaseResultMap" parameterType="com.fresh.bean.Product">
        select * from product where cid = #{category.cid}
  </select>

</mapper>